*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:#add8e6;
}
h1{
  font-family: 'Nerko One', cursive;
  color: white;
  text-align: center;
  font-size: 84px;
  text-shadow:2px 2px rgb(0, 0, 0.3);
}
.contenitore{
  width: 1500 px;
  height: 2000 px;
  text-align: center;
}
.box{
  width: 150px;
  height: 200px;
  background-color:white;
  border: 1px solid gray;
  border-radius: 10%;
  margin: auto;
  display: inline-block;
  box-shadow: 2px 2px rgb(0, 0, 0.3);
  position: relative;
  background-image: url("../img/pattern.png");
  background-repeat: no-repeat;
  background-size:cover;
  margin: 5px;
}
.fissa{
  background-image: url("../img/air-baloon.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.h4fisso{
  position: absolute;
  display: inline-block;
  font-family: 'Nerko One', cursive;
  font-weight: bold;
  font-size: 18px;
  color: #f400a1;
  bottom: 0;
  left: 35px;
  text-align: center;
  text-shadow:2px 2px lightgray;
}
h4{
  position: absolute;
  display: inline-block;
  font-family: 'Nerko One', cursive;
  font-weight: bold;
  font-size: 18px;
  color: #f400a1;
  bottom: 0;
  left: 35px;
  text-align: center;
  text-shadow:2px 2px lightgray;
  display:none;
}
.baloon:hover{
background-image: url("../img/air-baloon.svg");
background-repeat: no-repeat;
background-position: center;
}
.trattore:hover{
  background-image: url("../img/trattore.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.tram:hover{
  background-image: url("../img/tram.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.bicicletta:hover{
  background-image: url("../img/bicicletta.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.sottomarino:hover{
  background-image: url("../img/sottomarino.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.crociera:hover{
  background-image: url("../img/crociera.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.h4:hover .visibile{
  display: block;
}
footer{
  font-family: 'Nerko One', cursive;
  color: black;
  text-align: center;
  font-size: 14px;
  text-shadow:1px 1px rgb(0, 0, 0.3);
}
.box:hover .visibile{
  display: inline-block;
}
